body {
    font-family: Montserrat, sans-serif;
}

.citc-banner {
    height: 100px;
    background-color: #3498db;
    border:1px solid #eee;
    color:#fff;z-index:999;
}

.citc-banner h3 {
    margin-top: 37px;
}

.search-result-cntr {
    border: 1px solid;
    border-color: #000066;
    border-left-width: 6px;
    border-radius: 6px;
    margin-top: 10px;
}

.search-result-cntr .field-label {
    text-align: right;
}

.search-result-cntr .field {
    text-align: left;
}

.search-result-cntr:hover {
    background-color: #ccc1cb;
}

.facet-item {
    padding-left: 10px;
}

.panel-primary {
    margin-top: 10px;
}

.panel-main-top-height {
    height: 175px;
    overflow: hidden;
}

.panel-main-height {
    height: 100px;
    overflow: hidden;
}

.panel-aside-height {
    height: 175px;
    overflow: hidden;
}

.panel-scroll {
    overflow: auto;
}

