<div class="panel panel-success">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-7" ng-if="facetTitle.includes('Up To')">
                <h3 class="panel-title">Past Due Amount</h3></div>
            <div class="col-xs-7" ng-if="!facetTitle.includes('Up To')">
                <h3 class="panel-title">{{facetTitle | camelCaseToHuman}}</h3></div>
            <div class="col-xs-5"></div>
        </div>
    </div>
    <div class="panel-main-height panel-scroll action-required-list">
        <ul class="media-list">
            <li class="facet-item" ng-repeat="item in facets">
                <div class="facet-detail" ng-if="facetTitle.includes('Up To')">
                    <input type="checkbox" id="{{elementId(item.fieldValue, getFacetValue(item.fieldName))}}" ng-click="choose($event, item.fieldValue, getFacetValue(item.fieldName))"><span> {{buildFieldDesc(item.fieldName)}} ({{item.count}})</span>
                </div>
                <div class="facet-detail" ng-if="!facetTitle.includes('Up To')">
                    <input type="checkbox" id="{{elementId(facetTitle, item.fieldValue)}}" ng-click="choose($event, facetTitle, item.fieldValue)"><span> {{item.fieldValue}} ({{item.count}})</span>
                </div>
            </li>
        </ul>
    </div>
</div>
